---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Catalogo">
  <section class="nuestras-invitaciones bg-white p-16 bg-[url('assets/disenos/papel-tapiz2.svg')]">
    <div class="container mx-auto">
      <h2 class="text-4xl mb-10 text-center">CATÁLOGO</h2>
      <div class="grid justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="diseno w-[244px] animate_animated animate__fadeInUp ">
          <a href="/diseno/diseno1">
            <p class="text-2xl font-semibold mb-3 text-slate-800 text-center">Diseño 1</p>
            <img class="mb-4" src="assets/disenos/diseno1.png" alt="diseño 1">
            <div class="w-10/12 hover:bg-slate-800 hover:text-white transition-all mx-auto rounded-xl text-center p-5 text-lg text-slate-800 bg-[#ffcba7]">VER DISEÑO</div>
          </a>
        </div>
        <div class="diseno w-[244px] animate_animated animate__fadeInUp ">
          <a href="/invitacion/diseno2">
            <p class="text-2xl font-semibold mb-3 text-slate-800 text-center">Diseño 2</p>
            <img class="mb-4" src="assets/disenos/diseno2.png" alt="diseño 2">
            <div class="w-10/12 hover:bg-slate-800 hover:text-white transition-all mx-auto rounded-xl text-center p-5 text-lg text-slate-800 bg-[#ffcba7]">VER DISEÑO</div>
          </a>
        </div>
        <div class="diseno w-[244px] animate_animated animate__fadeInUp ">
          <a href="/invitacion/diseno3">
            <p class="text-2xl font-semibold mb-3 text-slate-800 text-center">Diseño 3</p>
            <img class="mb-4" src="assets/disenos/diseno3.png" alt="diseño 4">
            <div class="w-10/12 hover:bg-slate-800 hover:text-white transition-all mx-auto rounded-xl text-center p-5 text-lg text-slate-800 bg-[#ffcba7]">VER DISEÑO</div>
          </a>
        </div>
        <div class="diseno w-[244px] animate_animated animate__fadeInUp ">
          <a href="/invitacion/diseno4">
            <p class="text-2xl font-semibold mb-3 text-slate-800 text-center">Diseño 4</p>
            <img class="mb-4" src="assets/disenos/diseno4.png" alt="diseño 4">
            <div class="w-10/12 hover:bg-slate-800 hover:text-white transition-all mx-auto rounded-xl text-center p-5 text-lg text-slate-800 bg-[#ffcba7]">VER DISEÑO</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
