---
import Layout from '../layouts/Layout.astro';


import Inicio from '../components/Inicio.astro';
import Funciones from '../components/Funciones.astro';
import Disenos from '../components/Disenos.astro';
import Planes from '../components/Planes.astro';
import Motivacion from '../components/Motivacion.astro';
import Nosotros from '../components/Nosotros.astro';
---

<Layout title="One Invitaciones">

	<main>
    <Inicio/>
    <Funciones/>
    <Disenos/>
    <Planes/>
    <Motivacion/>
    <Nosotros/>
	</main>

</Layout>

<style>

</style>
