<section class="bg-cover bg-bottom bg-fixed bg-no-repeat py-12 overflow-hidden" style="background-image: url('assets/bg-disenos.png');">
  <div class="container mx-auto">

    <div class="flex flex-col md:flex-row items-center justify-center">

      <div class="best flex flex-col basis-1/2 items-center justify-center">
        <div class="best-text flex flex-col items-center justify-center">
          <img class="corazon" src="assets/icon/corazon.png" width="64" height="64" alt="Corazon sonriendo ">
          <h2 class="text-4xl mb-10 text-white text-center">LO MEJOR EN DISEÑO DE INVITACIONES</h2>
        </div>
        <a href="/inicio/catalogo" class="best-btn text-xl text-slate-800 p-5 rounded-xl bg-[#ffcba7]">Ver
          diseños</a>
      </div>

      <div class="basis-1/2">
        <img class="animate__animated animate__fadeInUp" src="assets/DisenosOneInvitaciones.png"
          alt="Diseño dos celulares" />
      </div>
    </div>

  </div>
</section>
