<section class="funciones overflow-hidden bg-slate-50 py-16 md:py-28">
  <div class="container mx-auto">
    <h2 class="text-center text-4xl text-[#754643] mb-10">
      ¡INVITACIÓN PARA TODOS LOS DISPOSITIVOS!
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 drop-shadow-xl">
      <div class="flex flex-col justify-center">
        <img
          src="assets/multiple devices.png"
          class="w-[90%] mx-auto"
          alt="Imagen demostrativa e impactante"
        />
      </div>

      <div class="2 flex flex-col gap-6 px-2">
        <div
          class="card text-center lg:text-start flex flex-col justify-center bg-white p-5 sm:p-8 h-48"
        >
          <h3 class="text-3xl">Experiencia Simplificada</h3>
          <p class="text-lg">
            Tu evento cobra vida en nuestra invitación digital: música,
            ubicación, detalles del evento, galería de fotos, cuenta regresiva,
            confirmación de asistencia ¡y mucho más!
          </p>
        </div>

        <div
          class="card text-center lg:text-start flex justify-center p-5 sm:p-8 h-48 bg-[#ffcba7] text-[#754643]"
        >
          <div>
            <img src="assets/icon/rayo.png" width="35" alt="icono rayo" />
          </div>
          <div class="flex flex-col">
            <h3 class="text-3xl">Entrega Exprés</h3>
            <p class="text-lg">
              ¡En solo un día hábil, tendrás tu invitación completa y lista para
              compartir en WhatsApp o cualquier red social!
            </p>
          </div>
        </div>

        <div
          class="card text-center lg:text-start flex flex-col justify-center bg-white p-5 sm:p-8 h-48"
        >
          <h3 class="text-3xl">Adaptabilidad al Máximo</h3>
          <p class="text-lg">
            Tu invitación se adapta a la perfección a cualquier dispositivo:
            teléfono móvil, computadora, tableta ¡y mucho más! ¡Tu evento
            siempre a un clic de distancia!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
