

<div class="h-[30vh] w-full overflow-hidden flex flex-nowrap text-center" id="slider">
  <div class="bg-slate-200 text-slate-800 space-y-4 flex-none w-full flex flex-col items-center justify-center">
      <h2 class="text-4xl max-w-md">Creatividad sin límites</h2>
      <p class="max-w-md">Desafiamos lo convencional con diseños innovadores y personalizados.</p>
  </div>
  <div class="bg-[#ffcba7] text-[#754643] space-y-4 flex-none w-full flex flex-col items-center justify-center">
      <h2 class="text-4xl max-w-md">Calidad excepcional</h2>
      <p class="max-w-md">Desde el diseño hasta los detalles finales de cada invitación.</p>
  </div>
  <div class="bg-slate-800 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
      <h2 class="text-4xl max-w-md">Experiencia del cliente excepcional</h2>
      <p class="max-w-md">Desde la consulta inicial hasta la entrega final.</p>
  </div>
</div>
