---
import LayoutDiseno from "../../layouts/LayoutDiseno.astro";
---

<LayoutDiseno title="Diseño 4">
  <div class="diseno bg-slate-100">
    <div
      class="max-w-3xl mx-auto bg-fixed bg-no-repeat bg-cover"
      style="background-image: url('/assets/disenos/diseno3/bg.jpg');"
    >
      <div class="inicio relative">
        <video
          autoplay
          loop
          playsinline
          muted
          class="object-cover object-left md:object-center h-screen brightness-75 rounded-b-3xl"
        >
          <source
            src="/assets/disenos/diseno4/gender-reveal.mp4"
            type="video/mp4"
          />
        </video>

        <div class="absolute w-11/12 top-0 translate-x-1/2 right-1/2">
          <div class="flex flex-col items-center justify-between h-screen">
            <div class="w-full h-1/4"></div>
            <img
              class=""
              src="/assets/disenos/diseno4/gender-reveal.png"
              alt=""
            />
            <div class="flex flex-col items-center gap-5 mb-5">
              <p class="text-white text-6xl">Agos 20, 2024</p>
              <img src="/assets/disenos/diseno4/flecha.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="w-11/12 h-[50vh] mx-auto flex flex-col items-center justify-center gap-4"
      >
        <div class="flex gap-3 *:text-5xl">
          <span class="text-[#38B6FF]">GENDER</span><span class="text-[#FF66C4]"
            >REVEAL</span
          >
        </div>
        <p class="text-2xl text-center">
          Querido bebé, el momento de revelar tu género se acerca y estamos
          ansiosos por conocerte.
        </p>
      </div>

      <hr class="w-11/12 mx-auto" />

      <div class="misPadres w-11/12 mx-auto">
        <div class="flex flex-col justify-center items-center h-[50vh] gap-5">
          <div class="flex gap-3 *:text-5xl">
            <span class="text-[#38B6FF]">MIS</span><span class="text-[#FF66C4]"
              >PADRES</span
            >
          </div>
          <img src="/assets/disenos/diseno1/padres2.png" alt="" />
          <span class="text-2xl">Erika Morales y Eduardo Benavides</span>
        </div>
      </div>

      <div class="tiempo w-11/12 h-[50vh] m-auto">
        <div
          class="flex flex-col justify-center h-[320px] mx-auto rounded-2xl bg-[url('/assets/disenos/diseno4/muffin.png')] bg-cover bg-bottom"
        >
          <div class="text-5xl text-center text-[#38B6FF]">20 Noviembre 2024</div>
          <div class="text-3xl text-center text-[#FF66C4]">faltan</div>
          <div class="flex justify-evenly">
            <div class="meses">
              <p
                class="text-5xl text-center p-5 rounded-full bg-[#FF66C4] text-white"
              >
                3
              </p>
              <p class="text-2xl text-center text-white">Meses</p>
            </div>
            <div class="dias">
              <p
                class="text-5xl text-center p-5 rounded-full bg-[#FF66C4] text-white"
              >
                10
              </p>
              <p class="text-2xl text-center text-white">Dias</p>
            </div>
            <div class="horas">
              <p
                class="text-5xl text-center p-5 rounded-full bg-[#FF66C4] text-white"
              >
                12
              </p>
              <p class="text-2xl text-center text-white">Horas</p>
            </div>
            <div class="minutos">
              <p
                class="text-5xl text-center p-5 rounded-full bg-[#FF66C4] text-white"
              >
                45
              </p>
              <p class="text-2xl text-center text-white">Minutos</p>
            </div>
            <div class="segundos">
              <p
                class="text-5xl text-center p-5 rounded-full bg-[#FF66C4] text-white"
              >
                19
              </p>
              <p class="text-2xl text-center text-white">Segundos</p>
            </div>
          </div>
        </div>
      </div>


      <div class="salon mx-auto w-11/12">
        <div class="flex flex-col gap-5 items-center">
          <h2 class="text-5xl text-[#FF66C4]">Salon de eventos</h2>
          <img src="/assets/disenos/diseno4/reloj.png" alt="" />
          <strong class="font-bold text-xl">6:00 PM</strong>
          <p class="text-2xl w-5/6 mx-auto text-center">
            Iglesia La Cañita Av Miguel Hidalgo, Centro, 52000 Lerma de Villada,
            Méx.
          </p>
          <iframe
            class="w-full h-[450px] rounded-2xl overflow-hidden"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12556.701059735942!2d-103.42484621845995!3d20.664307348416415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae9b015c62c7%3A0xc8e5ccdb49aa6d6c!2sLa%20Terraza%20Clouthier!5e0!3m2!1ses-419!2smx!4v1719253198020!5m2!1ses-419!2smx"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="flex flex-col gap-4">
            <img
              class="object-fill rounded-lg"
              src="/assets/disenos/diseno4/muffin.png"
              alt=""
            />
            <div class="columns-2">
              <img
                class="object-fill rounded-lg"
                src="/assets/disenos/diseno4/muffin.png"
                alt=""
              />
              <img
                class="object-fill rounded-lg"
                src="/assets/disenos/diseno4/muffin.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="generales w-11/12 mx-auto">
        <div class="flex flex-col items-center justify-center gap-5 h-[50vh]">
          <img src="/assets/disenos/diseno4/generales.png" alt="" />
          <h2 class="text-5xl text-[#FF66C4]">Generales del evento</h2>
          <div class="flex flex-wrap items-center justify-center gap-10">
            <div class="">
              <img src="/assets/disenos/diseno4/playeras.png" alt="" />
              <p class="text-2xl">Vestimenta color en apoyo</p>
            </div>
            <div class="">
              <img src="/assets/disenos/diseno4/alimentos.png" alt="" />
              <p class="text-2xl">Alimentos 4-6</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="w-11/12 mx-auto" />

      <div class="regalos w-11/12 mx-auto">
        <div class="flex flex-col items-center justify-center gap-5 h-[50vh]">
          <img src="/assets/disenos/diseno4/regalos.png" alt="" />
          <h2 class="text-5xl text-[#FF66C4]">Mesa de regalos</h2>
          <p>
            Si deseas hacer un regalo, puedes hacerlo a través de nuestra lista
            de regalos.
          </p>
          <div class="items gap-3 columns-2 px-6">
            <div class="flex flex-col items-center">
              <img
                src="/assets/disenos/diseno1/liverpool.png"
                class="max-w-[160px]"
              />
              <p class="text-center">Número de Evento: 000000</p>
              <a
                class="btn p-5 rounded-3xl bg-[#FFCBA7] text-[#88a0a8] hover:bg-slate-800 hover:text-white transition-all duration-300 text-center"
                >Ver lista de regalos</a
              >
            </div>
            <div class="flex flex-col items-center">
              <img
                src="/assets/disenos/diseno1/amazon.png"
                class="max-w-[160px]"
              />
              <p class="text-center">Número de Evento: 000000</p>
              <a
                class="btn p-5 rounded-3xl bg-[#FFCBA7] text-[#88a0a8] hover:bg-slate-800 hover:text-white transition-all duration-300 text-center"
                >Ver lista de regalos</a
              >
            </div>
          </div>
        </div>
      </div>

      <hr class="w-11/12 mx-auto" />

      <div class="galeria w-11/12 mx-auto">
        <div class="flex flex-col items-center justify-center gap-5">
          <img src="/assets/disenos/diseno4/camara.png" alt="">
          <h2 class="text-5xl text-[#FF66C4]">Galeria</h2>
          <div class="img-galery gap-3 columns-2 sm:columns-3 px-6">
            <img
              class="w-full h-full rounded-2xl mb-5"
              src="/assets/disenos/diseno1/misa.png"
              alt=""
            />
            <img
              class="w-full h-full rounded-2xl mb-5"
              src="/assets/disenos/diseno1/bancas.png"
              alt=""
            />
            <img
              class="w-full h-full rounded-2xl mb-5"
              src="/assets/disenos/diseno1/mono.png"
              alt=""
            />
            <img
              class="w-full h-full rounded-2xl mb-5"
              src="/assets/disenos/diseno1/misa.png"
              alt=""
            />
            <img
              class="w-full h-full rounded-2xl mb-5"
              src="/assets/disenos/diseno1/bancas.png"
              alt=""
            />
            <img
              class="w-full h-full rounded-2xl mb-5"
              src="/assets/disenos/diseno1/mono.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="asistencia w-11/12 mx-auto">
        <div class="flex flex-col items-center justify-center gap-5 h-[50vh]">
          <img src="/assets/disenos/diseno4/confirmar.png" alt="">
          <h2 class="text-5xl text-[#FF66C4]">Confirmar Asistencia</h2>
          <p class="text-2xl">Por favor confirma tu asistencia antes del 20 de Agosto de 2024</p>
        </div>
      </div>

    </div>
  </div>
</LayoutDiseno>
